# Package directories and files
node_modules
package-lock.json
pnpm-lock.yaml
pnpm-workspace.yaml
yarn.lock
.pnpm
.pnpmfile.*
.yarn
.pnp.*

# Local env files
.env.local
.env.*.local

# Output directories
#dist

# Log/Temp/Cache directories and files
logs
tmp
.cache
Thumbs.db
*.bak
*.log
*.old
*.tmp

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
