# Prettier Ignoring
# https://prettier.io/docs/en/ignore

# Package files
package-lock.json
pnpm-lock.yaml
.pnpm
.pnpmfile.*
.yarn
.pnp.*

# Static files
**/*.bundle.*
**/*.compiled.*
**/*.min.*

# Output directories
# dist
