@use 'variables';

// 定义默认字体
// Define default font families

@mixin default-snippet($font-sans, $font-mono: null, $quotes: null) {
  body {
    font-family: $font-sans;
    @if $quotes {
      quotes: $quotes;
    }
  }

  @if $font-mono {
    :is(pre, code, kbd, samp) {
      font-family: $font-mono;
    }
  }
}

@mixin default(
  $font-sans,
  $font-mono,
  $font-sans-sc,
  $font-mono-sc: null,
  $font-sans-tc: null,
  $font-mono-tc: null,
  $font-sans-hc: null,
  $font-mono-hc: null,
  $font-sans-j: null,
  $font-mono-j: null,
  $font-sans-k: null,
  $font-mono-k: null
) {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    font-family: $font-sans-sc;
  }

  @if $font-mono-sc {
    :is(pre, code, kbd, samp) {
      font-family: $font-mono-sc;
    }
  }

  :is(button, input, keygen, optgroup, select, textarea) {
    font-family: inherit;
  }

  html {
    // 中文
    &:lang(zh),
    &:lang(cmn),
    &:lang(zh-cmn) {
      @include default-snippet(
        $font-sans: $font-sans-sc,
        $font-mono: $font-mono-sc,
        $quotes: '“' '”'
      );
    }

    // 繁体中文、繁体中文 (台湾)
    @if $font-sans-tc and $font-mono-tc {
      &:lang(zh-TW),
      &:lang(zh-Hant),
      &:lang(cmn-Hant),
      &:lang(zh-cmn-Hant) {
        @include default-snippet(
          $font-sans: $font-sans-tc,
          $font-mono: $font-mono-tc,
          $quotes: '「' '」'
        );
      }
    }

    // 繁体中文 (香港、澳门)
    @if $font-sans-hc and $font-mono-hc {
      &:lang(zh-HK),
      &:lang(zh-MO),
      &:lang(yue),
      &:lang(zh-yue-Hant) {
        @include default-snippet(
          $font-sans: $font-sans-hc,
          $font-mono: $font-mono-hc,
          $quotes: '「' '」'
        );
      }
    }

    // 日文
    @if $font-sans-j and $font-mono-j {
      &:lang(ja) {
        @include default-snippet(
          $font-sans: $font-sans-j,
          $font-mono: $font-mono-j,
          $quotes: '「' '」'
        );
      }
    }

    // 朝鲜文
    @if $font-sans-k and $font-mono-k {
      &:lang(ko) {
        @include default-snippet(
          $font-sans: $font-sans-k,
          $font-mono: $font-mono-k
        );
      }
    }

    // 其他语言
    // prettier-ignore
    &:lang(de), &:lang(nl), &:lang(en),
    &:lang(nb), &:lang(no), &:lang(is), &:lang(da), &:lang(sv),
    &:lang(pt), &:lang(es), &:lang(fr), &:lang(it), &:lang(ro),
    &:lang(lv), &:lang(lt), &:lang(pl), &:lang(cs), &:lang(sk),
    &:lang(bs), &:lang(hr), &:lang(sr), &:lang(bg), &:lang(sl),
    &:lang(ru), &:lang(uk), &:lang(be),
    &:lang(el),
    &:lang(hu), &:lang(et), &:lang(fi),
    &:lang(tr),
    &:lang(id), &:lang(ms) {
      @include default-snippet(
        $font-sans: $font-sans,
        $font-mono: $font-mono
      );
    }

    &:lang(de) {
      body {
        quotes: '„' '“';
      }
    }

    &:lang(nb),
    &:lang(no),
    &:lang(es) {
      body {
        quotes: '«' '»';
      }
    }

    &:lang(fr) {
      body {
        quotes: '« ' ' »';
      }
    }

    // prettier-ignore
    &:lang(ar), &:lang(he), &:lang(th), &:lang(vi) {
      @include default-snippet(
        $font-sans: (variables.$font-system, variables.$font-sans, variables.$font-emoji),
        $font-mono: (variables.$font-mono, variables.$font-emoji)
      );
    }
  }
}

// 字体栈组合
// Get joint font families

@function stack-join($font-stack, $type) {
  $default: '';
  @if $type == 'serif' {
    $default: $font-stack, variables.$font-serif, variables.$font-emoji;
  } @else if $type == 'sans' {
    $default: $font-stack, variables.$font-sans, variables.$font-emoji;
  } @else if $type == 'mono' {
    $default: $font-stack, variables.$font-mono, variables.$font-emoji;
  }
  @return $default;
}
