@mixin style($font-sans, $font-serif: null, $font-mono: null) {
  @document domain('423down.com') {
    * {
      font-family: $font-sans;
    }

    .excerpt h2 {
      height: unset;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
