@mixin style($font-sans-serif, $font-serif: null, $font-monospace: null) {
  @-moz-document domain('423down.com') {
    .excerpt h2 {
      height: unset;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
